ul{
    list-style: none;
}

.songItem{
    border: 1px solid #ffcc00;
    font: 12px arial;
    padding: 2px;
    width:200px;
}

.songItem .destroy{
    float:right;
}

.songItemSelected{
    border:1px solid red;
}